<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/users/style.css' %}">
</head>
<body>
<div class="login-container">
    <h2>Login</h2>

    <!-- Display error message if any -->
    {% if messages %}
        <div class="error-message">
            {% for message in messages %}
                <p class="message-text" style="color: red; font-weight: bold;">
                    ({{ forloop.counter }}) {{ message }}
                </p>
            {% endfor %}
        </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit" class="login-button">Login</button>
    </form>

    <p>Don't have an account? <a href="{% url 'register' %}" class="register-button">Register</a></p>
</div>
</body>
</html>
